.svg-inline--fa {
  height: 25px !important;
  width: 25px !important;
  transform: translateY(-12.5%);
}

/*

.arrow {
  height: 0px;
  width: 35px;
  position: sticky;
  bottom: 0%;
  position: absolute;
  top: calc(100vh - var(--footer-bound) - 200px);
  background-color: var(--color-primary) !important;
  font-size: 16px;
  z-index: 2;
}

.tab {
  height: 20px;
}

*/

.tab {
  height: 0px;
  width: 35px;
  position: sticky;
  bottom: 0%;
  /* position: absolute;
  top: calc(100vh - var(--footer-bound) - 200px); */
  background-color: var(--color-primary) !important;
  font-size: 16px;
  z-index: 2;
}

.arrow {
  height: 20px;
}

.tabRow {
  /* width: 35px; */
}