body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: 'Source Code Pro', 'Courier', monospace;
    margin: 0;
    overflow-x: hidden;
}

canvas {
    background: #000;
    padding: 0;
    margin: 0;
}

a, a:hover, a:visited {
    color: #000;
    text-decoration: none;
}

a {
    border-bottom: 2px solid #31ffd5;
}

a:hover {
    background:#31ffd5;
}

.main-wrapper {
    width: 512px;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0 auto;
}

.main-header, .main-footer {
    text-align: center;
}

.subtitle {
    font-size: 1.5em;
}

.main-header {
    margin-top: 0;
    margin-bottom: 2em;
}

.main-header h1 {
    margin: 0;
    background: #31ffd5;
    padding: 0.5em 1em;
}

.main-header a {
    color: #000;
    text-decoration: none;
}

.main-footer {
    margin-top: 2em;
}

.canvas-wrapper {
    position: relative;
    background: red;
    height: 512px;
}

.message {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
}

.message strong {
    color: #31ffd5;
}

li, p {
    line-height: 1.25em;
}

li {
    margin: 0.5em 0;
}
