.p5_menu {
  /* right: 135px; */
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  width: 400px;
}

@media (max-width: 991px) {
  .p5_menu {
    right: 20px;
    height: calc(100vh - 100px - 1.6px - 86.4px - 40px - 50px);
    width: calc(100vw - 100px - 1.6px - 40px);
    max-width: calc(100vh - 100px - 1.6px - 40px);
  }
}

.p5_controls {
  background-color: #97b368;
  position: absolute;
  bottom: 350px;
  right: 510px;
  /* height: 400px; */
  width: 205px;
  padding: 3px;
}

.sketch_arrow_1 {
  width: 35px;
  position: absolute;
  bottom: 400px;
  right: 3px;
  background-color: #333;
}

.sketch_arrow_2 {
  width: 35px;
  position: absolute;
  bottom: 400px;
  right: 38px;
  background-color: #333;
}

.sketch_arrow_3 {
  width: 35px;
  position: absolute;
  bottom: 400px;
  right: 73px;
  background-color: #333;
}

.sketch_arrow_4 {
  width: 35px;
  position: absolute;
  bottom: 400px;
  right: 108px;
  background-color: #333;
}

.sketch_arrow_5 {
  width: 35px;
  position: absolute;
  bottom: 400px;
  right: 143px;
  background-color: #333;
}
