/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 150px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  height: 25px;
  width: 25px;
  background-color: #979777;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #71DFBE;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*

.form {
  position: absolute;
  height: 20px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

input {
  background: transparent;
  border: 0;
	color: #000000;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}

*/



input {
  margin: auto;
  height: 20px;
  background: transparent;
  border: 0;
	color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  outline: none !important;
	background-color: var(--color-primary);
  height: 23px;
  width: 198px;
  outline: none !important;
}

.button {
  background: #3A2D49;
  height: 60px;
  width: 200px;
  text-align: center;
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  /* border-radius: 4px; */
}

.text {
  font: bold 1.25rem/1 poppins;
  color: var(--color-primary);
  position: relative;
  top: 50%;
  transform: translateY(-52%);
  left: 0;
  right: 0;
}

.progress-bar {
  /* position: relative; */
  height: 20px;
  width: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  /* top: 50%; */
  /* left: 50%; */
  border-radius: 200px;
  background: lighten(#2B2D2F, 15%);
}

/* .progress-bar {
  position: absolute;
    border-radius: 200px;
  height: 20px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: /*lighten(#2B2D2F, 15%)  /* #71DFBE;
} */

.check {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
    opacity: 0;
}