.footerContainer {
	width: calc(100% - 40px);
	position: absolute;
	bottom: 20px;
	padding: 20px;
}

.footer {
	color: white;
	height: var(--footer-bound);
	width: calc(100% - 40.8px);
}

@media only screen and (max-width: 991px) {
	.footer {
		border-radius: 25px 25px 25px 25px !important;
	}
}