:root {
	--x-pos: calc(var(--mouse-perc-x) * 100%);
	--y-pos: calc(var(--mouse-perc-y) * 100%);
	--x-move: calc(calc(var(--mouse-perc-x) - 0.5) * 200px);
	--y-move: calc(calc(var(--mouse-perc-y) - 0.5) * 200px);
	--x-paralax: calc(var(--mouse-perc-x) * 10%);
	--y-paralax: calc(var(--mouse-perc-y) * 10%);
	
	--circle-diameter: calc(calc(calc(var(--mouse-perc-x) * var(--mouse-perc-y)) + 0.5) * 200px);
	--circle-multiplier: calc(calc(calc(var(--mouse-perc-x) * var(--mouse-perc-y)) - 0.95) * 300);
	--circle-invert: calc(calc(var(--mouse-perc-x) + 1.0) * 100%);
}

.App {
	font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
	font-weight: bold;
	text-align: center;
	height: 100vh;
	width: inherit;
}

.circle {
	position: absolute;
	left: var(--x-pos);
	top: var(--y-pos);
	transform:
		translate(-50%, -50%);
	/* background-color: #123456; */
	height: calc(var(--circle-diameter) * var(--circle-multiplier));
	width: calc(var(--circle-diameter) * var(--circle-multiplier));
	border-radius: calc(calc(var(--circle-diameter) * var(--circle-multiplier)) / 2);
	backdrop-filter: invert(100%);
	z-index: 1000;
	pointer-events: none;
}

.svg-inline--fa {
	/* height: 25px !important;
	width: 25px !important; */
}  

.neumorph {
	/* background: var(--neumorph-reverse-gradient); */
	/* background-color: var(--color-secondary); */
	box-shadow: 
		var(--top-left-highlight),
		var(--botton-right-shadow);
	/* border: var(--neumorph-border) outset var(--color-secondary); #272709 */
	border: var(--neumorph-border) solid var(--color-secondary);
	background: var(--neumorph-reverse-gradient);
	color: var(--color-primary);
	overflow: hidden;
}

.neumorph:visited {
	/* background: var(--neumorph-reverse-gradient); */
	/* background-color: var(--color-secondary); */
	box-shadow: 
		var(--top-left-highlight),
		var(--botton-right-shadow);
	/* border: var(--neumorph-border) outset var(--color-secondary); #272709 */
	border: var(--neumorph-border) inset var(--color-primary);
	border: var(--neumorph-border) solid var(--color-secondary);
	/* background: var(--neumorph-reverse-gradient); */
	color: var(--color-primary);
	overflow: hidden;
}

.neumorph:hover {
	box-shadow: 
		var(--top-left-highlight-hover),
		var(--botton-right-shadow-hover);
	border: var(--neumorph-border) solid var(--color-secondary);
}

.neumorph:active {
	box-shadow: 
		var(--top-left-shadow),
		var(--botton-right-highlight);
	border: var(--neumorph-border) inset var(--color-primary); /*#272709*/
	border: var(--neumorph-border) solid var(--color-secondary);
	color: white;
}

.warningColor {
	box-shadow: 
		var(--top-left-highlight),
		var(--botton-right-shadow);
	border: var(--neumorph-border) solid var(--color-warning-secondary);
	background: linear-gradient(145deg, hsl(349, 100%, 37%) 100%, hsl(349, 100%, 39%) 50%);
	color: var(--color-warning-secondary);
}

.warningColor:hover {
	box-shadow: 
		var(--top-left-shadow),
		var(--botton-right-highlight);
	border: var(--neumorph-border) inset var(--color-warning-primary);
	background: linear-gradient(145deg, hsl(349, 100%, 37%) 100%, hsl(349, 100%, 39%) 50%);
	color: var(--color-warning-primary);
}

.successColor {
	box-shadow: 
		var(--top-left-highlight),
		var(--botton-right-shadow);
	border: var(--neumorph-border) solid var(--color-success-secondary);
	background: linear-gradient(145deg, hsl(82, 100%, 29%) 100%, hsl(82, 100%, 31%) 50%);
	color: var(--color-success-secondary);
}

.successColor:hover {
	box-shadow: 
		var(--top-left-shadow),
		var(--botton-right-highlight);
	border: var(--neumorph-border) inset var(--color-success-primary);
	background: linear-gradient(145deg, hsl(82, 100%, 29%) 100%, hsl(82, 100%, 31%) 50%);
	color: var(--color-success-primary);
}

.card-full {
	border-radius: var(--card-corner);
}

.card-up {
	border-radius: var(--card-corner) var(--card-corner) 0px 0px;
}

.card-down {
	border-radius: 0px 0px var(--card-corner) var(--card-corner);
}

.card-left {
	border-radius: var(--card-corner) 0px 0px var(--card-corner);
}

.card-right {
	border-radius: 0px var(--card-corner) var(--card-corner) 0px;
}

.popup {
	position: absolute;
	bottom: var(--popup-spacing);
	padding: var(--neumorph-card-padding);
}