.podcast_menu {
  /* right: 20px; */
  left: 50%;
  transform: translateX(-50%);
  height: 520px;
  width: 20%;
}

@media (max-width: 991px) {
  .podcast_menu {
    right: 20px;
    height: calc(100vh - 100px - 1.6px - 86.4px - 40px - 50px);
    width: calc(100vw - 100px - 1.6px - 40px);
    max-width: calc(100vh - 100px - 1.6px - 40px);
  }
}