.bodyContainer {
	height: calc(100vh - var(--header-bound) - var(--footer-bound) - 40px);
	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

.bodyContainer::-webkit-scrollbar {
	display: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

.body {
	height: 100%;
}

.links {
	padding-top: calc(var(--multiplier) * 10px);
	/* width: inherit; */
}

.form {
	z-index: 2;
	position: absolute;
	bottom: var(--footer-bound);
	/* width: inherit; */
}