.svg-inline--fa {
	height: 25px !important;
	width: 25px !important;
	transform: translateY(0%) !important;
}

.left-item {
	margin-left: 75.4px;
}

.right-item {
	margin-right: 75.4px;
}

ul {
	font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* margin-top: 18px; */
}

ul li {
	display: inline-block;
	/* float: left; */
}

ul li a {
	width: 25px;
	height: 25px;
	display: block;
	background-color: var(--color-secondary);
	/* background-color: #121212; */
	padding: 10px;
	margin: 10px;
	margin-bottom: 10px !important;
	font-weight: bold;
	/* word-spacing: 2px; */
	/* letter-spacing: 1px; */
	font-size: 110%;
	color: var(--color-primary);
	/* border: 0.4px outset var(--color-primary); #272709 */
}

@media only screen and (max-width: 991px) {
	ul li a {
		width: 50px;
		height: 50px;
		display: block;
		background-color: var(--color-secondary);
		border-radius: 50px !important;
		padding: 10px;
		margin: 20px;
		font-weight: bold;
		font-size: 34px !important;
		color: var(--color-primary);
		color: #272209;
	}
}

ul li a:visited {
	color: #272209;
}

ul li a:hover {
	/* border: 0.4px inset var(--color-primary); #372759; */
	/* border: 1px var(--color-primary); */
	color: var(--color-primary); /* #000000 */
}

ul li a span#a{
	display: inline;
	background-color: transparent;
}

ul li a:hover span#a{
  /* display: none; */
  /* background-color: transparent; */
}

ul li a span#b{
  /* display: none; */
	/* margin: -3px; */
	font-size: 0%;
	color: transparent;
  	background-color: transparent;
}

ul li a:hover span#b{
  /* display: inline; */
	/* transition: font-size .5s ease-in-out, color 2s ease-in-out;
	font-size: 100%;
	color: #999777;
  background-color: transparent; */
}

/* Credit to Matthew J. Early for the unordered list of links CSS */

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: 150%;
	left: 50%;
	margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }