@-ms-viewport{
    width: device-width;
}

:root {
  --multiplier: 1;
}

:root {
  --color-primary: #bb86fc;
  --color-secondary: #3a2d49;
  --color-tertiary: #272209;
  --color-accent: #ffffff;
  --color-success-primary: #97b368;
  --color-success-secondary: #3f5518;
  --color-success-tertiary: #629b00;
  --color-warning-primary: #ffbbbb;
  --color-warning-secondary: #571d27;
  --color-warning-tertiary: #963042;
  --color-background: #3a2d49;

  /* --color-background: #1c1a1d; */

  --neumorph-border: 0.4px;
  --neumorph-card-padding: calc(var(--multiplier) * 25px);
  --neumorph-card-corner: calc(var(--multiplier) * 25px);
  
  --neumorph-gradient: linear-gradient(145deg, hsl(268, 24%, 24%) 50%, hsl(268, 24%, 22%) 100%);
  --neumorph-reverse-gradient: linear-gradient(145deg, hsl(268, 24%, 22%) 100%, hsl(268, 24%, 24%) 50%);

  --header-bound: 50px;
  --header-padding: 25px;
  --footer-bound: calc(var(--multiplier) * 25px);
  --card-corner: calc(var(--multiplier) * 25px);

  --popup-spacing: 40px;

  --nm-blur-spread: calc(var(--multiplier) * 8px) calc(var(--multiplier) * 0px);
  --nm-hover-blur-spread: calc(var(--multiplier) * 10px) calc(var(--multiplier) * -10px);
  --nm-shadow-color: rgba(0, 0, 0, 0.25);
  --nm-highlight-color: rgba(255, 255, 255, 0.05);
  --nm-top-left: calc(var(--multiplier) * -6px) calc(var(--multiplier) * -4px);
  --nm-bottom-right: calc(var(--multiplier) * 6px) calc(var(--multiplier) * 4px);

  --top-left-highlight: var(--nm-top-left) var(--nm-blur-spread) var(--nm-highlight-color);
  --top-left-shadow: inset var(--nm-bottom-right) var(--nm-blur-spread) var(--nm-shadow-color);
  --botton-right-shadow: var(--nm-bottom-right) var(--nm-blur-spread) var(--nm-shadow-color);
  --botton-right-highlight: inset var(--nm-top-left) var(--nm-blur-spread) var(--nm-highlight-color);

  --top-left-highlight-hover: var(--nm-top-left) var(--nm-hover-blur-spread) var(--nm-highlight-color);
  --botton-right-shadow-hover: var(--nm-bottom-right) var(--nm-hover-blur-spread) var(--nm-shadow-color);

  --top-left-highlight-active: var(--nm-bottom-right) var(--nm-hover-blur-spread) var(--nm-highlight-color);
  --botton-right-shadow-active: var(--nm-top-left) var(--nm-hover-blur-spread) var(--nm-shadow-color);

  --glow: 0px 0px 10px 4px rgba(187, 134, 252, 0.5);
}

@media only screen and (max-width: 991px) {
  :root {
    --multiplier: 2;
  }
}

@font-face {
  font-family: 'Kernal Panic';
  font-style: normal;
  font-weight: 400;
  src: url('./res/KernelPanicNbp-LyG3.ttf') format('truetype');
}

::-webkit-scrollbar {
  display: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-background); /* #e7e7dd; */
  background: var(--neumorph-gradient);
  font-size: 100%;
  text-align: center;
  position: absolute;
  overflow: hidden;
}

div {
  width: inherit;
  /* position: absolute; */
  /* overflow: hidden; */
}

g {
	width: inherit;
}