.spacer {
	/* height: 110.8px; */
	width: 55.4px !important;
}

.left-item {
	margin-left: 75.4px;
}

.right-item {
	margin-right: 75.4px;
}

ul {
	font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
	/* margin-top: 18px; */
}