* {
  /* font-size: 20px; */
}

.nav-container {
  display: grid;
  grid-gap: 0px;
  padding: calc(var(--header-padding) / 2) 0px;
  height: calc(var(--header-bound) - var(--header-padding));
  width: 100%
  /* background-color: #2196F3; */
}

.svg-inline--fa {
  margin: auto;
  height: calc(var(--header-bound) - var(--header-padding)) !important;
  /* width: 48px !important; */
}

.addIcon {
  color: var(--color-primary);
}

.clock {
  margin: 0px;
  margin-top: 2.5px;
  z-index: 2;
  font-size: 16px !important;
}

.Nav-arrow {
  /* height: 15px; */
  /* padding-top: 5px; */
  /* position: relative; */
  /* top: -15%; */
  /* right: 42%; */
}

.Nav-logo {
  /* animation: App-logo-spin infinite 1800s linear; */
  /* height: 67.5px; */
}

.authIcon {
  color: var(--color-primary);
}

.grid-item {
  text-align: center;
  font-size: 100%;
	/* border: 1px solid red; /* debug outline */
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2/ span 6;
  grid-row: 1;
}

.item3 {
  grid-column: 9;
  grid-row: 1;
}

.item4 {
  grid-column: 10;
  grid-row: 1;
}

.linkName {
  font-family: 'Kernal Panic';
  font-size: 32px;
  margin: 0;
  /* color: rgba(var(--color-name), 0.8); */
  color: rgba(var(--color-name-tower), 0.8);
  text-shadow:
    calc(var(--mouse-x) * -4px) calc(var(--mouse-y) * -4px) 0px rgba(var(--color-name-tower), 1.0),
    calc(var(--mouse-x) * -10px) calc(var(--mouse-y) * -8px) 0px rgba(var(--color-name-tower), 0.8),
    calc(var(--mouse-x) * -18px) calc(var(--mouse-y) * -12px) 0px rgba(var(--color-name-tower), 0.6),
    calc(var(--mouse-x) * -28px) calc(var(--mouse-y) * -20px) 0px rgba(var(--color-name-tower), 0.4),
    calc(var(--mouse-x) * -40px) calc(var(--mouse-y) * -32px) 0px rgba(var(--color-name-tower), 0.2);
  transform:
    rotateX(var(--nm-y-rot))
    rotateY(var(--nm-x-rot));
}

@keyframes App-logo-spin {

  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(540deg);
  }

}